*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background-color: #082032;
}

.main{
    margin: 64px 0px;
    display: grid;
    place-items: center;
    

}

.main h2{
    color: white;
    text-align: center;
    margin: 32px;
    font-weight: bold;
}

.login input{
    margin: 6px 0px;
    padding: 12px;
    width: 50vh;
}

#sample{
    color: white;
}

.login button{
    margin: 6px 0px;
    padding: 12px;
    width: 50vh;
}

.login button:hover{
    cursor: pointer;
    background-color: #c2c2c2;
}

a{
    margin: 12px;
    color: #4d91c5;
}

#newacc{
    background-color: #4d91c5;
    color: white;
    margin: 12px 0px;
    padding: 12px;
    width: 30vh;
}

#newacc:hover{
    cursor: pointer;
    background-color: #366386;
}

